.app {
  height: 100%;
  .logo{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab,.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active  {
    margin: 0;
    border-radius: 0;
    border: 0;
    border-right: 1px solid #d5d3db; 
    height: 30px;
    line-height: 30px;
    background: #E8E8E8
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    background: #f0f2f5
  }
  .ant-layout-header{
    padding: 0;
    height: 94px;
    .ant-tabs-nav {
      .ant-tabs-tab:first-child {
        i {
          display: none;
        }
      }
    }
  }
  &-content{
    padding: 10px;
  }
  .sub-menu{
    .ant-menu-submenu-title,.ant-menu-item{
      height: 28px;
      line-height: 28px;
      font-size: 12px;
    }
  }
  .toggle-menu{
    height: 100%;
    float: left;
    .trigger{
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color .3s;
      &:hover{
        color: #7f76fa;
      }
    }
  }
}