#root{
  height: 100%;
}

.clearfix::after{
  content: ' ';
  display: block;
  clear: both;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.Popover{
  font-size: 12px;
}
.Popover p{
  margin-bottom: 5px;
}
.smallSizeTable .ant-table{
  font-size: 12px;
}